.button {
  padding: 8px 20px;
  border-radius: 120px;
border: 1px solid var(--unnamed, $firstAccentColor);

  @include text(32px, 500, 38px);
  
}

.button_lilac {
  color: $whiteColor;
  background: $firstAccentColor;
}