.button {
  padding: 8px 20px;
  border-radius: 120px;
  border: 1px solid var(--unnamed, $firstAccentColor);

  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  @include text(32px, 600, 38px);
  font-family: Gilroy-Light, sans-serif;

  width: 428px;
  height: 84px;

  @media (max-width: 700px){
    max-width: 206px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}

.button_lilac {
  color: $whiteColor;
  background: $firstAccentColor;

  &:hover {
    background: #7008f5;
  }
}

.button_white{
  color: $firstAccentColor;
  background: transparent;
  border-color: $firstAccentColor;

  &:hover {
    background: #7008f5;
    color: white;
  }
}