


.logo {
  width: 244px;
  height: 68px;
}

.header {
  &__title {
    color: $blackColorSecond;
    @include text(96px, 700, 119px);
    font-family: Gilroy-Bold;
    max-width: 1060px;
    width: 100%;
    padding: 120px 0 457px;
  }
}