.header {
  z-index: 5;
  position: fixed;
  width: 100%;
  transition: .3s;

  &.scrolled {
    background: white;
    box-shadow: 0 2px 27px 0 rgba(180, 180, 180, 0.25);
  }

  &.active {
    background: $firstAccentColor;

    .menu__icon {

      &:hover {
        .menuIcon__line1 {
          transform: translate(0, 4px) rotate(45deg);

          @media (max-width: 768px) {
            transform: translate(0, 2px) rotate(45deg);
          }
        }

        .menuIcon__line2 {
          transform: translate(0, -4px) rotate(-45deg);

          @media (max-width: 768px) {
            transform: translate(0, -2px) rotate(-45deg);
          }
        }
      }

      .menuIcon__line1, .menuIcon__line2 {
        background: white;
      }


      .menuIcon__line1 {
        transform: translate(0, 4px) rotate(45deg);

        @media (max-width: 768px) {
          transform: translate(0, 2px) rotate(45deg);
        }
      }

      .menuIcon__line2 {
        transform: translate(0, -4px) rotate(-45deg);

        @media (max-width: 768px) {
          transform: translate(0, -2px) rotate(-45deg);
        }
      }
    }


    .menu__button {
      background: $whiteColor;
      color: $firstAccentColor;
    }

    svg path {
      fill: white;
    }

    .menu-mobile {
      margin-top: 0;
      pointer-events: auto;
      opacity: 1;

    }
  }

  .header__container {
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    z-index: 5;

    @media (max-width: 768px) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }


}

.menu__icon {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;



  &:hover {
    .menuIcon__line1 {
      transform: translate(-10px, -10px);

      @media (max-width: 768px) {
        transform: translate(-6px, -6px);
      }
    }

    .menuIcon__line2 {
      transform: translate(10px, 10px);

      @media (max-width: 768px) {
        transform: translate(6px, 6px);
      }
    }
  }

  .menuIcon__line1, .menuIcon__line2 {
    width: 70px;
    height: 8px;
    border-radius: 8px;
    background: $firstAccentColor;
    transition: .3s;

    @media (max-width: 768px) {
      width: 40px;
      height: 4px;
    }
  }

  .menuIcon__line1 {
    transform: translate(10px, -10px);

    @media (max-width: 768px) {
      transform: translate(6px, -6px);
    }
  }

  .menuIcon__line2 {
    transform: translate(-10px, 10px);

    @media (max-width: 768px) {
      transform: translate(-6px, 6px);
    }
  }
}