.name {
  margin: 217px 0 20px;
  @media all and (max-width: 1100px) {
    margin: 180px 0 0px;
  }
  @media all and (max-width: 900px) {
    margin: 110px 0 0px;
  }

  &__subtitle {
    max-width: 1200px;
    width: 100%;

  }

  &__desc {
    color: #000;
    margin: 48px 0 24px;
    @include text(32px, 700, 34px);
    font-family: Gilroy-Regular;
    @media all and (max-width: 1600px) {
      @include text(26px, 700, 28px);
    }
    @media all and (max-width: 900px) {
      @include text(24px, 700, 26px);
      margin: 24px 0 24px;
    }
  }

  &__wrapper {
    max-width: 1253px;
    width: 100%;
  }

  &__text, &__item {
    color: #000;
    font-family: Gilroy-Regular;
    @include text(24px, 500, 28px);
    @media all and (max-width: 1600px) {
      @include text(18px, 500, 22px);
    }
    @media all and (max-width: 900px) {
      @include text(16px, 500, 20px);
    }
  }

  &__item {
    color: #000;
    font-family: Gilroy-Regular;
    margin-bottom: 20px;
    @include text(24px, 500, 28px);
    @media all and (max-width: 1600px) {
      @include text(18px, 500, 22px);
    }
    @media all and (max-width: 900px) {
      @include text(16px, 500, 20px);
      margin-bottom: 12px;
    }

  }

  &__wrap {
    display: flex;
    margin: 32px 0 32px;
    @include text(32px, 700, 34px);
    @media all and (max-width: 700px) {
      justify-content: space-between;
      @include text(16px, 700, 18px);
    }

  }

  &__time {
    font-family: Gilroy-Bold;
    color: #6B696F;
  }

  &__time:first-child {
    margin-right: 64px;
    @media all and (max-width: 1200px) {
      margin-right: 40px;
    }
    @media all and (max-width: 800px) {
      margin-right: 20px;
    }
  }

  &__btn {
    @include text(24px, 500, 26px);
    margin-right: 24px;
    @media all and (max-width: 700px) {
      @include text(16px, 400, 20px);
      font-family: Gilroy-Light;
      margin-right: 16px;
    }
  }

  &__wrap-btn {
    margin: 32px 0 32px;
    display: flex;
    gap: 24px;
    @media all and (max-width: 900px) {
      margin: 16px 0 16px;
    }
  }

  &__subtitle_bottom {
    margin: 120px 0 48px;
    @media all and (max-width: 900px) {
      margin: 80px 0 24px;
    }
  }

  &__img {
    width: 100%;
  }

  &__btn {
    font-family: Gilroy-Light;
  }

  &__subtitle {
    @include text(76px, 700, 90px);
    @media all and (max-width: 1660px) {
      @include text(38px, 700, 40px);
    }
    @media all and (max-width: 900px) {
      @include text(32px, 700, 44px);
      max-width: 660px;
    }
    @media all and (max-width: 700px) {
      @include text(28px, 700, 32px);
      max-width: 560px;
    }
    @media all and (max-width: 500px) {
      @include text(24px, 700, 33px);

    }
  }
}

