@mixin white-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;


// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%)
  }
}


// Styling
.slider {
  z-index: -1;
  background: $firstAccentColor;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  width: 120%;


  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
  }

  .slide {
    height: 100px;
    @media all and (max-width: 1660px) {
      height: 90px;
    }
    @media all and (max-width: 930px) {
      height: 70px;
    }
    @media all and (max-width: 530px) {
      height: 54px;
    }
  }
}


.slide__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    display: none;


  }
}

.slide__wrap > p {
  color: $whiteColor;
  display: flex;
  align-items: center;
  gap: 80px;
  @include text(32px, 700, 36px);
  font-family: 'Gilroy-Bold';
  margin-right: 80px;
  @media all and (max-width: 500px) {
    @include text(20px, 700, 24px);
  }
  @media all and (max-width: 500px) {
    @include text(16px, 700, 20px);
    margin-right: 48px;
    gap: 48px;
  }

  &:after {
    content: "";
    display: flex;
    width: 16px;
    height: 17px;
    border-radius: 100%;
    background: white;

    @media all and (max-width: 500px) {
      width: 8px;
      height: 8px;
    }
  }
}

.slider_first {
  rotate: -10deg;
  margin-left: -10vw;

}

 