
@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;


// Animation
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
  z-index: -1;
  background: $firstAccentColor;
  // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 104px;
  // margin: auto;
  // overflow:hidden;
  position: relative;
  width: 200%;
  margin-left: -100px;
  position: relative;
  @media all and (max-width: 930px) {
    height: 74px;
  }
  @media all and (max-width: 530px) {
    height: 54px;
  }
  
  
 
  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slide {
    height: 100px;
    width: 250px;
    @media all and (max-width: 930px) {
      height: 70px;
    }
    @media all and (max-width: 530px) {
      height: 54px;
      width: 160px;
      top: 350px
    }

  }
}


.slide__wrap {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  @media all and (max-width: 500px) {
    margin-right: 80px;
  }
}

.slide__wrap > p {
  color: $whiteColor;
    @include text(32px, 700, 36px);
  font-family: 'Gilroy-Bold';
  margin-right: 80px;
  @media all and (max-width: 500px) {
    @include text(20px, 700, 24px);
  }
  @media all and (max-width: 500px) {
    @include text(16px, 700, 20px);
  }
}

.slider_first {
  top: 26px;
    transform: rotate(8deg); 
    @media all and (max-width: 500px) {
      position: relative;
      top: -55px;
    }
  }