body, html {
  margin: 0;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 100px;
  cursor: pointer;
  @media all and (max-width: 1000px) {
    font-size: 65px;
  }
}
.marquee span {
  display: inline-block;
  animation: marquee 7s linear infinite;
  -webkit-animation: marquee 7s linear infinite;
}
// .marquee:hover span {
//   animation-play-state: paused;
// }
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.ticker {
  background: $lightBurple;
  padding: 40px 0;
  display: flex;
  @media all and (max-width: 1660px) {
    padding: 20px 0;
  }
  &__text {
    color: $whiteColor;
    @include text(96px, 700, 100px);
  font-family: 'Gilroy-Bold';
  @media all and (max-width: 1660px) {
    @include text(56px, 700, 70px);
  }
  @media all and (max-width: 1000px) {
    @include text(28px, 700, 32px);
  }
  }
  @media all and (max-width: 1000px) {
    padding: 16px;
  }
}

