


[class*='__subtitle']  {
  @include text(74px, 700, 78px);
  font-family: 'Gilroy-Bold';
  color: $grayColor;
}



.best {
  margin-bottom: 120px;
  @media all and (max-width: 600px) {
    margin-bottom: 80px;
  }
  &__subtitle{
    max-width: 835px;
    width: 100%;
    padding-top: 32px;
  }
  &__block {
    display: flex;
    max-width: 314px;
    width: 100%;
    align-items: center;
  }
  &__description {
    @include text(24px, 700, 26px);
    color: $blackColorSecond;
    font-family: Gilroy-Bold;
    @media all and (max-width: 900px) {
      @include text(18px, 700, 20px);
    }
    @media all and (max-width: 600px) {
      @include text(14px, 700, 18px);
    }
    
  }
  &__img {
    width: 64px;
    padding-right: 10px;
  }
  &__text {
    @include text(18px, 300, 28px);
    font-family: Gilroy-Light;
    margin-top: 18px;
    max-width: 314px;
    width: 100%;
    @media all and (max-width: 900px) {
      @include text(16px, 300, 26px);
      width: 280px;
    }
    @media all and (max-width: 600px) {
      @include text(14px, 300, 18px);
      width: 250px;
    }
  }
  &__wrap {
    
    // max-width: 378px;
      // width: 100%;
      padding: 29px 32px;
      border-radius: 15px;
      background: #FFF;
      box-shadow: 0px 6px 11px 0px rgba(33, 7, 70, 0.08);
      @media all and (max-width: 1720px) {
        margin: 12px
      }
      @media all and (max-width: 900px) {
        padding: 12px;
      }
      @media all and (max-width: 500px) {
        padding: 8px;
      }
  }
  &__wrapper {
   
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1500px) {
      overflow-x: scroll;
    }
  }
}