
.blog-window {
  margin-top: 130px;
  @media all and (max-width: 700px)  {
    margin-top: 110px;
  }
  @media all and (max-width: 500px)  {
    margin-top: 110px;
  }
  &__time {
    @include text(14px, 400, 20px);
    font-family: 'Roboto'!important;
  }
  &__text_top {
    max-width: 832px;
    width: 100%;
    @include text(32px, 700, 36px);
    margin: 48px 0 120px;
    @media all and (max-width: 1600px) {
      @include text(18px, 700, 22px); 
      margin: 40px 0 80px;
      max-width: 750px;
    }
    @media all and (max-width: 900px) {
      @include text(16px, 500, 20px);
      max-width: 600px;
      
    }
    @media all and (max-width: 700px) {
      margin: 30px 0 50px;
      
    }
    @media all and (max-width: 500px) {
      margin: 16px 0 33px;
      max-width: 250px;
     
    }
}
&__person {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 250px;
  width: 100%;
  margin-top: 11px;
}
&__wrap-button {
  max-width: 746px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media all and (max-width: 1660px) {
    max-width: 600px;
  }
  
}
&__text {
  font-family: 'Roboto';
  @include text(14px, 400, 20px);
}
&__person-wrap {
  display: flex;
  justify-content: space-between;
  grid-area: 2/2/3/3;
  width: 190px;
  align-items: flex-end;
  
}
&__name {
  @include text(16px, 600, 20px);
  grid-area: 1/2/2/3;
}

&__icon {
  grid-area: 1/1/3/2;
}
&__block {
  max-width: 535px;
  width: 100%;
}
&__image {
  max-width: 471px;
  width: 100%;
}
&__btn {
  font-family: Gilroy-Regular;
  font-weight: 400;
  @media all and (max-width: 1660px) {
    font-size: 16px;
  }
}
&__text-color {
  @include text(24px, 500, 30px);
  padding: 8px 24px;
  @media all and (max-width: 1660px) {
    @include text(16px, 500, 20px);
    padding: 8px 20px;
  }
  @media all and (max-width: 600px) {
    @include text(14px, 500, 16px);
    padding: 8px;
  }
}
&__wrap-button {
  margin-bottom: 32px;
  @media all and (max-width: 600px) {
    justify-content: flex-start
  }

}
&__btn:nth-child(2),
&__btn:nth-child(4) {
  margin-right: 16px;
}
&__btn:nth-child(3) {
  margin-right: 0;
  @media all and (max-width: 417px){
    margin-right: 16px;
  }
}
&__description {
  @include text(32px, 700, 36px);
  margin-bottom: 16px;
  font-family: Gilroy-Bold;
  @media all and (max-width: 1660px) {
    @include text(28px, 700, 34px);
  }
  @media all and (max-width: 1360px) {
    @include text(24px, 700, 32px);
    margin-bottom: 10px;
  }
  @media all and (max-width: 600px) {
    @include text(16px, 700, 20px);
  }
}
&__text {
  @include text(18px, 300, 28px);
}
&__wrap-data {
  @include text(20px, 700, 24px);
  font-family: Gilroy-Bold;
  @media all and (max-width: 1660px) {
    @include text(16px, 700, 20px);
  }
  @media all and (max-width: 600px) {
    @include text(14px, 700, 18px);
  }
}
&__wrapper {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  @media all and (max-width: 1100px) {
    grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  }
  @media all and (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 24px;
    align-content: center;
  }
  
}
&__desc {
  -webkit-line-clamp: 6; // количество строк
-webkit-box-orient: vertical;
overflow: hidden;
@media all and (max-width: 1360px) {
  @include text(14px, 300, 20px);
}

}


}