.blog {
  &__subtitle {
    margin: 32px 0 64px;
    @media all and (max-width: 500px) {
      margin: 16px 0 24px;
    }
  }

  &__description {
    @include text(24px, 700, 32px);
    font-family: 'Gilroy-Bold';
    color: $grayColor;
    display: -webkit-box;
    -webkit-line-clamp: 2; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__text {
    margin-top: 24px;
    @include text(14px, 300, 24px);
    font-family: Gilroy-Light;
    color: $grayColor;
    display: -webkit-box;
    -webkit-line-clamp: 5; // количество строк
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media all and (max-width: 700px) {
      margin-top: 16px;
    }

  }

  &__wrap {

    padding: 32px 32px 29px;
    width: 100%;
    border-radius: 15px;
    background: #FFF;
    transition: .3s;
    box-shadow: 0px 2px 12px 0px rgba(180, 180, 180, 0.25);

    &:hover {
      box-shadow: 0px 2px 12px 0px rgba(180, 180, 180, 0.35);
      transform: translateY(-8px) !important;

      .blog__image {
        object-view-box: inset(5%);
      }
    }

    @media (max-width: 1600px) and (min-width: 1300px) {
      &:last-child{
        display: none;
      }
    }

    &:last-child {
      @media all and (max-width: 700px) {
        display: none;
      }
    }

    @media all and (max-width: 1300px) {
      padding: 16px;
    }
  }

  &__wrap-data {
    @include text(14px, 700, 18px);
    font-family: Gilroy-Bold;
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0;
  }

  &__block-icon {
    display: flex;
    margin: 16px 0;
  }

  &__text-color_green,
  &__text-color_blue,
  &__text-color_orange,
  &__text-color_pink {
    border-radius: 4px;
    padding: 8px;
  }

  &__text-color_green {
    background: var(--unnamed, #9CEDA4);
  }

  &__text-color_blue {
    background: var(--unnamed, #9CEDE8);
  }

  &__text-color_orange {
    background: var(--unnamed, #EDA69C);
  }

  &__text-color_pink {
    background: var(--unnamed, #ED91C8);
  }

  &__text-color {
    margin-right: 18px;
    font-family: Gilroy-Light;
    @include text(14px, 500, 16px);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 52px;
    margin-top: 32px;
    @media all and (max-width: 1600px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 32px;
    }
    @media all and (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    @media all and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px;
    }
  }

  &__image {
    aspect-ratio: 1;
    transition: .3s;
    width: 100%;
    object-fit: cover;
    object-position: center;
    object-view-box: inset(0);
    @media all and (max-width: 1300px) {
    }
  }

  &__more {
    cursor: pointer;
  }
}