
.clients {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 190px;
    @media all and (max-width: 500px)  {
      margin-bottom: 80px;
    }

    @media all and (max-width: 436px) {
      justify-content: center;
      margin-bottom: 80px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
  }
  &__subtitle{
    margin: 32px 0 64px;
    @media all and (max-width: 500px)  {
      margin: 16px 0 24px;
    }
  }
  &__img {
    @media all and (max-width: 1660px) {
      max-width: 200px;
    width: 100%;
    }
    @media all and (max-width: 800px) {
      max-width: 190px;
    }
    @media all and (max-width: 427px) {
      max-width: 160px;
    }
  }
}