.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button, .button {
    width: 428px;
    height: 84px;
    color: $whiteColor;
    font-family: Gilroy-Regular;
    transition: 0.3s;
    @include text(32px, 500, 34px);
    @media all and (max-width: 1660px) {
      width: 300px;
    height: 60px;
    @include text(24px, 500, 26px);
    }
  }
  &__button:hover {
    @include text(40px, 500, 42px);
    transition: 0.3s;
    @media all and (max-width: 1660px) {
    @include text(28px, 500, 30px);
    }
  }
  &__item:last-child {
    display: block;
    @media all and (max-width: 1400px) {
      display: none;
    }
  }
}