.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button, .button {
    width: 428px;
    height: 84px;
    color: $whiteColor;
    @media all and (max-width: 1660px) {
      width: 300px;
    height: 60px;
    @include text(24px, 500, 26px);
    }
    
    
  }
  &__item:last-child {
    display: block;
    @media all and (max-width: 1400px) {
      display: none;
    }
  }
}