.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button, .button {
    height: 84px;
    color: $whiteColor;
  }

  &__item:last-child {
    display: block;
    @media all and (max-width: 1400px) {
      display: none;
    }
  }
}

