.modal-window {
  &__wrapper {
    margin-top: 220px;
    max-width: 770px;
    width: 100%;
  }
  &__wrapper:first-child {
    margin-right: 192px;
    @media all and (max-width: 1460px) {
      margin-right: 90px;
    }
    @media all and (max-width: 1000px) {
      margin-right: 0;
      margin-top: 140px;
    }
  }
  &__wrapper:last-child {
    @media all and (max-width: 1000px) {
      margin-top: 48px;
    }
  }
  &__block {
    display: flex;
  }
  &__input {
    border-bottom: solid 1px $firstAccentColor;
    max-height: 85px;
    height: 100%;
    padding: 12px;
    margin-bottom: 48px;
    @media all and (max-width: 1660px) {
      height: 46px;
      padding: 10px;
      margin-bottom: 30px;
    }
    @media all and (max-width: 800px) {
      margin-bottom: 24px;
    }
  }
  &__wrap {
    display: flex;
    @media all and (max-width: 1000px) {
      flex-direction: column;
    }

  }
  &__input::placeholder, &__input {
    @include text(32px, 500, 34px);
    @media all and (max-width: 1660px) {
      @include text(24px, 500, 26px);
    }
    @media all and (max-width: 800px) {
      @include text(16px, 500, 18px);
    }
  }
  &__input::placeholder:nth-child(2) {
    color: red;
  }
  &__form {
    display: flex;
    flex-direction: column;
    
  }
  &__wrap_bottom {
    @include text(18px, 500, 28px);
    color: $grayColor;
    text-align: center;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media all and (max-width: 800px) {
      @include text(14px, 500, 18px);
    }
  }
  &__link_bottom {
    text-decoration: underline;
    color: $grayColor;
  }
  &__subtitle {
    max-width: 707px;
  }
  &__text {
    @include text(24px, 500, 26px);
    margin: 32px 0 120px;
    max-width: 700px;
    width: 100%;
    @media all and (max-width: 900px) {
      @include text(18px, 500, 20px);
      margin: 24px 0 24px;
    }
    @media all and (max-width: 600px) {
      @include text(14px, 500, 16px);
      margin: 16px 0 24px;
    }
  }
  &__list {
    @media all and (max-width: 1000px) {
      display: grid;
      justify-items: stretch;
      max-width: 600px;
      width: 100%;
    }
  }
  &__item:first-child {
    @media all and (max-width: 1000px) {
      grid-area: 1/1/2/2;
    }
  }
  &__item:nth-child(2) {
    @media all and (max-width: 1000px) {
      grid-area: 1/2/2/3;
      display: flex;
    justify-content: flex-end;
    }
  }
  &__item:nth-child(3) {
    @media all and (max-width: 1000px) {
      grid-area: 2/1/3/3;
    }
  }
  &__item {
    @include text(32px, 500, 34px); 
    @media all and (max-width: 1660px) {
      @include text(24px, 500, 26px);
    }
    @media all and (max-width: 1000px) {
      @include text(20px, 500, 22px);
    }
    @media all and (max-width: 800px) {
      @include text(16px, 500, 18px);
    }
  }
  &__item:first-child,
  &__item:nth-child(3) {
    margin-bottom: 24px;
    @media all and (max-width: 1660px) {
      margin-bottom: 20px;
    }
  }
  &__item:nth-child(2) {
    margin-bottom: 60px;
    @media all and (max-width: 1660px) {
      margin-bottom: 40px;
    }

  }
  &__img {
    margin-right: 24px;
  }
  &__description {
    color: $firstAccentColor;
    @include text(32px, 500, 34px);
    margin: 0 auto;
    padding: 64px 0 32px;
    @media all and (max-width: 1660px) {
      @include text(24px, 500, 26px);
      padding: 44px 0 32px;
    }
    @media all and (max-width: 1000px) {
      @include text(20px, 500, 22px);
    }
    @media all and (max-width: 600px) {
      @include text(16px, 400, 18px);
      padding: 64px 0 16px;
    }
  }
  &__btn {
    max-width: 428px;
    width: 100%;
    margin: 0 auto;
    height: 84px;
    @media all and (max-width: 1660px) {
      max-width: 340px;
      height: 60px;
      @include text(22px, 500, 24px);
    }
    @media all and (max-width: 600px) {
      @include text(16px, 400, 18px);
      max-width: 304px;
      height: 56px;
      @include text(22px, 500, 24px);
    }
  }
}


.button-wrapper {
  position: relative;
  
  text-align: center;
  @include text(16px, 400, 20px);
  @media all and (max-width: 1660px) {
    @include text(14px, 400, 18px);
  }
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  background: transparent;
  border: solid 1px $firstAccentColor;
  border-radius: 120px;
  cursor: pointer;
  color: $firstAccentColor;
  padding: 10px 0;
  text-transform:uppercase;
  // font-size:12px;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  -ms-border-radius: 120px;
  -o-border-radius: 120px;
  width: 240px;
  height: 52px;
  display: flex;
    align-items: center;
    justify-content: center;
    @media all and (max-width: 1660px) {
      width: 200px;
      height: 40px;
    }
    @media all and (max-width: 900px) {
      width: 158px;
      height: 40px;
      font-size: 14px;
    }
}

#upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}