

.policy {
  &__subtitle {
    padding: 210px 0 48px;
  @media all and (max-width: 1660px) {
    padding: 140px 0 48px;
  }
  @media all and (max-width: 700px) {
    padding: 120px 0 40px;
  }
  }
  &__description {
    @include text(32px, 500, 34px);
    color: $blackColor;
    margin-bottom: 24px;
    @media all and (max-width: 1560px) {
      @include text(28px, 500, 34px);
    }
    @media all and (max-width: 700px) {
      @include text(24px, 500, 28px);
      margin-bottom: 16px;
    }
  }
  &__text {
    @include text(24px, 400, 34px);
    margin-bottom: 48px;
    @media all and (max-width: 1560px) {
      @include text(22px, 400, 34px);
    }
    @media all and (max-width: 700px)  {
      @include text(16px, 400, 20px);
      margin-bottom: 24px;
    }
  }
}