.projects {
  &__subtitle {
    margin-top: 32px;
  }
  &__wrapper {
    padding-top: 64px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    @media all and (max-width: 1660px) {
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      
    }
    @media all and (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
      
    }
    @media all and (max-width: 850px) {
      grid-template-columns: repeat(1, 1fr);
      
    }
    @media all and (max-width: 500px) {
      padding-top: 32px;
    }
  }
  &__wrap {
    padding: 15px;
    border-radius: 16px;
box-shadow: 0px 2px 27px 0px rgba(180, 180, 180, 0.25);
max-width: 820px;
width: 100%;
height: 100%;
@media all and (max-width: 1660px) {
  max-width: 620px;
}
  }
  &__block {
    display: flex;
    align-items: center;
    margin-top: 24px;
    @media all and (max-width: 600px) {
      margin-top: 16px;
    }
  }
  &__img{
    margin-right: 16px;
  }
  &__image{
    max-width: 787px;
    width: 100%;
    object-fit: cover;
  }
  &__description {
    @include text(32px, 700, 34px);
    font-family: Gilroy-Bold;
    @media all and (max-width: 1400px) {
      @include text(24px, 700, 28px);;
    }
    @media all and (max-width: 900px) {
      @include text(22px, 700, 28px);;
      max-width: 660px;
    }
    @media all and (max-width: 700px) {
      @include text(20px, 700, 26px);;
      max-width: 560px;
    }
    @media all and (max-width: 500px) {
      @include text(16px, 700, 20px);;
     
    }
  }
  &__text {
    @include text(18px, 300, 28px);
    font-family: Gilroy-Light;
    margin: 0 4px 15px 58px;
    margin-top: 10px;
    @media all and (max-width: 900px) {
      @include text(16px, 300, 26px);
      margin-top: 4px;
    }
    @media all and (max-width: 600px) {
      @include text(14px, 300, 18px);
    }
    
  }
  &__btn:hover {
    color: $whiteColor;
    background: $firstAccentColor;
  }
  &__btn {
    background: transparent;
    color: $firstAccentColor;
    @include text(32px, 700, 34px);
    font-family: Gilroy-Regular;
    max-width: 402px;
    width: 100%;
    margin: 0 auto;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 120px;
    @media all and (max-width: 1600px) {
      max-width: 280px;
      height: 50px;
      @include text(20px, 700, 22px);
    }
    @media all and (max-width: 700px) {
      max-width: 206px;
      height: 46px;
      @include text(16px, 500, 20px);
      margin-top: 40px;
    margin-bottom: 80px;
    }
  }
}