.team {
  &__subtitle{
     margin: 32px 0 64px;
     max-width: 1170px;
     width: 100%;
     @media all and (max-width: 500px)  {
      margin: 16px 0 32px;
    }
  }
  &__description {
    margin: 16px 0;
    font-family: Gilroy-Bold;
    @include text(48px, 700, 50px);
    max-width: 314px;
    width: 100%;
    color: $blackColorSecond;
    @media all and (max-width: 1660px) {
      @include text(28px, 700, 32px); 
    }
    @media all and (max-width: 970px) {
      max-width: 250px; 
    }
    @media all and (max-width: 900px) {
      @include text(26px, 700, 30px);
      margin: 10px 0;
    }
    @media all and (max-width: 700px) {
      @include text(22px, 700, 28px);
    }
    @media all and (max-width: 500px) {
      @include text(16px, 700, 18px);
      max-width: 190px; 
     
    }

  }
  &__text {
    max-width: 314px;
    width: 100%;
    font-family: Gilroy-Regular;
    @include text(32px, 500, 34px);
    color: $blackColorSecond;
    @media all and (max-width: 1660px) {
      @include text(22px, 500, 26px); 
    }
    @media all and (max-width: 970px) {
      max-width: 250px; 
    }
    @media all and (max-width: 900px) {
      @include text(20px, 500, 24px);
    }
    @media all and (max-width: 700px) {
      @include text(18px, 500, 22px);
    }
    @media all and (max-width: 500px) {
      @include text(16px, 500, 20px);
      max-width: 190px;
    }
  }
  &__img {
    width: 100%;
    aspect-ratio: 0.74;
    object-fit: cover;
    border-radius: 16px;
    transition: .3s;
    object-view-box: inset(0)
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 52px;
    @media all and (max-width: 1750px) {
      grid-gap: 24px;

    }
    @media all and (max-width: 1360px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
        grid-row-gap: 16px;
        justify-items: center;
    }
    @media all and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    }
  }

  &__wrap{
    width: 100%;
    transition: .3s;
    &:hover{
      transform: translateY(-8px);
      .team__img {
        object-view-box: inset(1%)
      }
    }
  }
  
}