.team {
  &__subtitle{
     margin: 32px 0 64px;
     max-width: 1170px;
     width: 100%;
  }
  &__description {
    margin: 16px 0;
    font-family: Gilroy-Bold;
    @include text(48px, 700, 50px);
    max-width: 314px;
    width: 100%;
    color: $blackColorSecond;

  }
  &__text {
    max-width: 314px;
    width: 100%;
    font-family: Gilroy-Regular;
    @include text(32px, 500, 34px);
    color: $blackColorSecond;
  }
  &__img {
    max-width: 378px; 
    width: 100%;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}