.team {
  &__subtitle{
     margin: 32px 0 64px;
     max-width: 1170px;
     width: 100%;
  }
  &__description {
    margin: 16px 0;
    font-family: Gilroy-Bold;
    @include text(48px, 700, 50px);
    max-width: 314px;
    width: 100%;
    color: $blackColorSecond;
    @media all and (max-width: 1660px) {
      @include text(28px, 700, 32px); 
    }
    @media all and (max-width: 970px) {
      max-width: 250px; 
    }
    @media all and (max-width: 900px) {
      @include text(26px, 700, 30px);
      margin: 10px 0;
    }
    @media all and (max-width: 700px) {
      @include text(22px, 700, 28px);
    }
    @media all and (max-width: 500px) {
      @include text(16px, 700, 18px);
      max-width: 190px; 
     
    }

  }
  &__text {
    max-width: 314px;
    width: 100%;
    font-family: Gilroy-Regular;
    @include text(32px, 500, 34px);
    color: $blackColorSecond;
    @media all and (max-width: 1660px) {
      @include text(24px, 500, 28px); 
    }
    @media all and (max-width: 970px) {
      max-width: 250px; 
    }
    @media all and (max-width: 900px) {
      @include text(22px, 500, 26px);
    }
    @media all and (max-width: 700px) {
      @include text(20px, 500, 24px);
    }
    @media all and (max-width: 500px) {
      @include text(16px, 500, 20px);
      max-width: 190px;
    }
  }
  &__img {
    max-width: 378px; 
    width: 100%;
    // @media all and (max-width: 970px) {
    //   max-width: 250px; 
    // }
    @media all and (max-width: 500px) {
      max-width: 190px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1750px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 24px;
        grid-row-gap: 24px;
    
    }
    @media all and (max-width: 1360px) {
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
        grid-row-gap: 16px;
    }
  }
  
}