/** Базовые анимации: */
@import 'keyframes';

/** Стили для полноэкранного блока: */
// @import "fullscreen";

/*
* (i) Стили будут применяться ко
* всем классам содержащим *__container
* Например header__container, main__container и т.д.
*/
[class*='__container'] {
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
  @media all and (max-width: 1720px) {
    padding: 24px 100px;
  }
  @media all and (max-width: 1420px) {
    padding: 24px 70px;
  }
}

// Стили отзывчивых картинок (IBG) ============================================
[class*='-ibg'] {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

[class*='-ibg_contain'] {
  img {
    object-fit: contain;
  }
}

// Оболочка ===================================================================
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /** Поменять на clip - если используется в проекте position: sticky */
  overflow: hidden;
}

.page {
  position: relative;
  flex: 1 1 auto;

  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }

  &_start {
    padding-top: rem($headerHeight);
  }
}
